In [ ]:
#1. CREATE A DATAFAME

In [ ]:
# load library
import pandas as pd
# create a datafame
datafame  = pd.DataFrame()
#add colums
datafame['Name']= ['Lemon','Apple','Banana']
datafame['Price']=[5,8,7]
datafame['License']=[False,True,True]
# show data
datafame

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
datafame.shape

(3, 3)

In [ ]:
df = datafame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   Price    3 non-null      int64
 2   License  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

In [ ]:
# print colum name

In [ ]:
list(df.columns)

['Name', 'Price', 'License']

In [ ]:
df.describe()

          price
count  3.000000
mean   6.666667
std    1.527525
min    5.000000
25%    6.000000
50%    7.000000
75%    7.500000
max    8.000000

In [ ]:
# loc iloc
df.loc[(df.Price == 5)]

    Name  Price  License
0  Lemon      5    False

In [ ]:
df.loc[(df.Price == 5)| (df.Name == 'Banana ')]

    Name  Price  License
0  Lemon      5    False

In [ ]:
df.loc[(df.Price == 5)| (df.Name == 'Banana'),['Name','Price']]

     Name  Price
0   Lemon      5
2  Banana      7

In [ ]:
df.iloc[2]
type(df.iloc[2])

pandas.core.series.Series

In [ ]:
df. iloc[[2]]

     Name  Price  License
2  Banana      7     True

In [ ]:
df.iloc[0:2]

    Name  Price  License
0  Lemon      5    False
1  Apple      8     True

In [ ]:
df.iloc[0:2,0:-1]
df.iloc[0:2,-1]

0    False
1     True
Name: License, dtype: bool

In [ ]:
sum =df.Price.sum()
print(sum)

20

In [ ]:
max = df.Price.max()
print(max)

8

In [ ]:
count = df['Price'].count()
print(count)

3

In [ ]:
# create row data
new = pd.Series(['Orage',10,True], index=['Name','Price','License'])
# append row
datafame.append(new, ignore_index=True)

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True
3   Orage     10     True

In [ ]:
# append a colum
datafame['Location']= ['USA','VN','SIN']
datafame

     Name  Price  License Location
0   Lemon      5    False      USA
1   Apple      8     True       VN
2  Banana      7     True      SIN

In [ ]:
# delete a row
datafame.drop(1, axis = 0).head(10)

     Name  Price  License Location
0   Lemon      5    False      USA
2  Banana      7     True      SIN

In [ ]:
# deleta a column
datafame.drop('Location', axis = 1).head()

     Name  Price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
# replace
datafame['Price'].replace(5,7).head(5)

0    7
1    8
2    7
Name: Price, dtype: int64

In [ ]:
# rename columns
datafame.rename(columns={'Price':'Cost'}).head()

     Name  Cost  License Location
0   Lemon     5    False      USA
1   Apple     8     True       VN
2  Banana     7     True      SIN

In [ ]:
# load libary
import pandas as pd
# create url
url = 'http://winterolympicsmedals.com/medals.csv'
# load datafame
datafame = pd.read_csv(url)
#show data
datafame.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
data = datafame
data.shape

(2311, 8)

In [ ]:
data.describe()
# std: phuong sai
# mean: gia tri trung binh

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [ ]:
data.iloc[[200,]]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
200,1948,St. Moritz,Skiing,Nordic Combined,FIN,individual,M,Gold

In [ ]:
data.head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold

In [ ]:
data = data.set_index(data['NOC'])
data.loc['GER']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
GER,1928,St. Moritz,Bobsleigh,Bobsleigh,GER,five-man,M,Bronze
GER,1932,Lake Placid,Bobsleigh,Bobsleigh,GER,four-man,M,Bronze
GER,1932,Lake Placid,Ice Hockey,Ice Hockey,GER,ice hockey,M,Bronze
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,individual,M,Silver
GER,1936,Garmisch-Partenkirchen,Skating,Figure skating,GER,pairs,X,Gold
...,...,...,...,...,...,...,...,...
GER,2006,Turin,Skiing,Cross Country S,GER,sprint 1.5km,W,Silver
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual,M,Gold
GER,2006,Turin,Skiing,Nordic Combined,GER,Individual sprint,M,Bronze
GER,2006,Turin,Skiing,Nordic Combined,GER,Team,M,Silver
GER,2006,Turin,Skiing,Snowboard,GER,Giant parallel slalom,W,Silver

In [ ]:
data.loc['USA']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
USA,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
USA,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
USA,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
USA,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze
USA,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
data[data['NOC']=='CAN'].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
54,1928,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
92,1932,Lake Placid,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
93,1932,Lake Placid,Skating,Figure skating,CAN,individual,M,Bronze
94,1932,Lake Placid,Skating,Speed skating,CAN,10000m,M,Bronze
95,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Bronze
96,1932,Lake Placid,Skating,Speed skating,CAN,1500m,M,Silver
97,1932,Lake Placid,Skating,Speed skating,CAN,5000m,M,Bronze
98,1932,Lake Placid,Skating,Speed skating,CAN,500m,M,Bronze
136,1936,Garmisch-Partenkirchen,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Silver

In [ ]:
data[(data['Year']>=1990)&(data['Year']<=2006) & (data['NOC']=='USA')&(data['Event gender']=='W')&(data['Medal']=='Gold')].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1428,1992,Albertville,Skating,Figure skating,USA,individual,W,Gold
1430,1992,Albertville,Skating,Short Track S.,USA,500m,W,Gold
1431,1992,Albertville,Skating,Speed skating,USA,1000m,W,Gold
1432,1992,Albertville,Skating,Speed skating,USA,500m,W,Gold
1436,1992,Albertville,Skiing,Freestyle Ski.,USA,moguls,W,Gold
1610,1994,Lillehammer,Skating,Short Track S.,USA,500m,W,Gold
1612,1994,Lillehammer,Skating,Speed skating,USA,1000m,W,Gold
1613,1994,Lillehammer,Skating,Speed skating,USA,500m,W,Gold
1617,1994,Lillehammer,Skiing,Alpine Skiing,USA,super-G,W,Gold
1812,1998,Nagano,Ice Hockey,Ice Hockey,USA,ice hockey,W,Gold

In [ ]:
data['NOC'].value_counts()

NOR    280
USA    216
URS    194
AUT    185
GER    158
FIN    151
CAN    119
SUI    118
SWE    118
GDR    110
ITA    101
FRA     83
NED     78
RUS     76
FRG     41
CHN     33
JPN     32
KOR     31
TCH     25
EUN     23
GBR     21
EUA     19
CZE     10
LIE      9
POL      8
CRO      7
BUL      6
EST      6
AUS      6
BLR      6
HUN      6
UKR      5
BEL      5
KAZ      5
YUG      4
SLO      4
ESP      2
PRK      2
LUX      2
LAT      1
ROU      1
DEN      1
UZB      1
NZL      1
SVK      1
Name: NOC, dtype: int64

In [ ]:
data.count()

Year            2311
City            2311
Sport           2311
Discipline      2311
NOC             2311
Event           2311
Event gender    2311
Medal           2311
dtype: int64

In [ ]:
data['NOC'].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [ ]:
data.drop('NOC', axis=1).head(10)

,Year,City,Sport,Discipline,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,1500m,M,Gold

In [ ]:
data.drop(data.columns[2:4], axis=1).head(10)

   Year      City  NOC            Event Event gender   Medal
0  1924  Chamonix  AUT       individual            M  Silver
1  1924  Chamonix  AUT       individual            W    Gold
2  1924  Chamonix  AUT            pairs            X    Gold
3  1924  Chamonix  BEL         four-man            M  Bronze
4  1924  Chamonix  CAN       ice hockey            M    Gold
5  1924  Chamonix  FIN  military patrol            M  Silver
6  1924  Chamonix  FIN            pairs            X  Silver
7  1924  Chamonix  FIN           10000m            M    Gold
8  1924  Chamonix  FIN           10000m            M  Silver
9  1924  Chamonix  FIN            1500m            M    Gold

In [ ]:
data[data['NOC']!='CAN'].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold

In [ ]:
data = pd.read_csv(url)
data.groupby('NOC').head(5)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2129,2006,Turin,Skiing,Cross Country S,EST,15km,M,Gold
2202,2006,Turin,Luge,Luge,LAT,singles,M,Bronze
2269,2006,Turin,Skiing,Snowboard,SVK,Snowboard Cross,M,Silver
2284,2006,Turin,Biathlon,Biathlon,UKR,7.5km,W,Bronze
2285,2006,Turin,Skating,Figure skating,UKR,ice dancing,X,Bronze

In [ ]:
data.groupby('NOC').count()

     Year  City  Sport  Discipline  Event  Event gender  Medal
NOC
AUS     6     6      6           6      6             6      6
AUT   185   185    185         185    185           185    185
BEL     5     5      5           5      5             5      5
BLR     6     6      6           6      6             6      6
BUL     6     6      6           6      6             6      6
CAN   119   119    119         119    119           119    119
CHN    33    33     33          33     33            33     33
CRO     7     7      7           7      7             7      7
CZE    10    10     10          10     10            10     10
DEN     1     1      1           1      1             1      1
ESP     2     2      2           2      2             2      2
EST     6     6      6           6      6             6      6
EUA    19    19     19          19     19            19     19
EUN    23    23     23          23     23            23     23
FIN   151   151    151         151    151           151    151
FRA    83    83     83          83     83            83     83
FRG    41    41     41          41     41            41     41
GBR    21    21     21          21     21            21     21
GDR   110   110    110         110    110           110    110
GER   158   158    158         158    158           158    158
HUN     6     6      6           6      6             6      6
ITA   101   101    101         101    101           101    101
JPN    32    32     32          32     32            32     32
KAZ     5     5      5           5      5             5      5
KOR    31    31     31          31     31            31     31
LAT     1     1      1           1      1             1      1
LIE     9     9      9           9      9             9      9
LUX     2     2      2           2      2             2      2
NED    78    78     78          78     78            78     78
NOR   280   280    280         280    280           280    280
NZL     1     1      1           1      1             1      1
POL     8     8      8           8      8             8      8
PRK     2     2      2           2      2             2      2
ROU     1     1      1           1      1             1      1
RUS    76    76     76          76     76            76     76
SLO     4     4      4           4      4             4      4
SUI   118   118    118         118    118           118    118
SVK     1     1      1           1      1             1      1
SWE   118   118    118         118    118           118    118
TCH    25    25     25          25     25            25     25
UKR     5     5      5           5      5             5      5
URS   194   194    194         194    194           194    194
USA   216   216    216         216    216           216    216
UZB     1     1      1           1      1             1      1
YUG     4     4      4           4      4             4      4

In [ ]:
data.groupby(['Year','NOC']).head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2286,2006,Turin,Bobsleigh,Bobsleigh,USA,two-man,W,Silver
2287,2006,Turin,Curling,Curling,USA,curling,M,Bronze
2288,2006,Turin,Ice Hockey,Ice Hockey,USA,ice hockey,W,Bronze
2289,2006,Turin,Skating,Figure skating,USA,ice dancing,X,Silver
2290,2006,Turin,Skating,Figure skating,USA,individual,W,Silver

In [ ]:
#apply a function
def uppercase(x):
  return x.upper()
data['Event'].apply(uppercase)[0:10]

0         INDIVIDUAL
1         INDIVIDUAL
2              PAIRS
3           FOUR-MAN
4         ICE HOCKEY
5    MILITARY PATROL
6              PAIRS
7             10000M
8             10000M
9              1500M
Name: Event, dtype: object